{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Git email" -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  {{ $productName := trim (output "cat" "/sys/class/dmi/id/product_name") }}
  is_hp_envy = {{ contains "HP ENVY x360" $productName }}
